/**
    Trader Tiki
	[TBD].com | @kaceykaso
	GNU GPL 3.0 license

COLOR PALETTE
-------------
Pink:          #FD9496
Bright Green:  #599458
Pale Green:    #7D9C60
Forest Green:  #486C57
Slate Teal:    #97B5A0
Cream:         #DBD4BE
Yellow:        #E1C049
Rust:          #AB553A
Dirt:          #61514A
Dark Brown:    #2F2D29
**/

/* BODY 🧍‍♂️ */

body {
    /* Colors 🎨 */
    background: #7D9C60;
    color: #2F2D29;
    /* Space 🪐 */
    margin: 0 auto;
    padding: 0;
    /* Fonts 🔤 */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* HEADER 💀 */

p {
   margin: 0 auto;
}

header {
    display: flex;
    height: 4vh;
    width: 100vw;
    /* Colors 🎨 */
    background: #FD9496;
    color: #486C57;
    border-bottom: 3px solid #E1C049;
    box-shadow: 1px 1px 3px 1px #486C57;
    /* Space 🪐 */
    margin: 0 auto;
    margin-bottom: 3.5em;
    margin-top: 0;
    padding: 0.5em 1em;
    /* Flexing 💪 */
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

 /* CONTENT 📖 */

 section.main,
 section.main .display,
 section.main .display .chooser {
    display: flex;
 }

 section.main {
    /* Colors 🎨 */
    background: #61514A;
    box-shadow: 0.25em 0.25em 0.25em #2F2D29;
    /* Fancy Borders 💈 */
    border: solid 20px;
    border-image: url(../../assets/bamboo-horizontal.png) 20 round;
    border-image-outset: 4px;
    color: #E1C049;
    /* Space 🪐 */
    height: 100%;
    margin: -1vh auto 0;
    padding: 1vh 2vw;
    position: relative;
    width: 90vw;
    /* Flexing 💪 */
    align-items: center;
    flex-flow: column nowrap;
 }

 section.main::before,
 section.main::after {
   content: "";
   background: url(../../assets/bamboo-vertical.png) repeat;
   position: absolute;
   height: 110%;
   top: -20px;
   width: 20px;
 }

 section.main::before {
   left: -30px;
 }

 section.main::after {
   right: -30px;
 }

 section.main .display {
   width: 100%;
   /* Flexing 💪 */
   align-items: normal;
   flex-flow: row wrap;
   justify-content: space-evenly;
 }

 section.main .display .chooser {
   margin-right: 1vw;
 }

 section.main .display * {
   margin: 2vh 0;
 }

 /* FOOTER 🦶 */

 footer#footer {
    bottom: 0;
    display: flex;
    /* Space 🪐 */
    height: 3em;
    position: absolute;
    width: 100vw;
    /* Flexing 💪 */
    align-content: flex-end;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-evenly;
 }

 footer ul {
    display: flex;
    /* Space 🪐 */
    padding: 0;
    /* Flexing 💪 */
    align-content: flex-end;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-evenly;
 }

 footer ul li {
    list-style: none;
    margin: 0 1em;
 }

 /* TYPOGRAPHY 🔤 */

 h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-kerning: normal;
 }

 header h1 {
   font-size: 3vh;
   text-shadow: 2px 2px 4px #DBD4BE;
}

h2.subtitle {
   color: #AB553A;
   font-size: 8vw;
   margin: 0 auto;
   padding: 0 2vh;
 }

 /* FORMS 📝 */

 button, input {
    color: #2F2D29;
 }

 button {
    background: #FC9092;
    border: 2px solid #E1C049;
 }

 input {
    background-image: linear-gradient(#c0b690, #DBD4BE, #f2eee1, #DBD4BE, #c0b690);
    border: none;
 }

 .chooser input {
    /* Space 🪐 */
    border-radius: 5px;
    height: 7vh;
    padding: 0 1vw 0 3vw;
    width: 30vw;
    /* Fonts 🔤 */
    font-size: 4vw;
    font-weight: bold;
 }

 .chooser button {
    border-radius: 0 5px 5px 0;
 }

 button#spinner {
   box-shadow: 0 9px 1px  #a7944e;
    /* Space 🪐 */
    align-self: center;
    border-radius: 50%;
    height: 7vh;
    margin: 0 auto;
    position: relative;
    width: 7vh;
    /* Fonts 🔤 */
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
 }

 button#spinner:active {
   animation: push;
   animation-duration: 300ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 /* ANIMATIONS 📺 */

 @keyframes push {
   from {
      box-shadow: 0 9px 1px #a7944e;
      margin-top: 0;
   }
   to {
      box-shadow: 0 0 0 #a7944e;
      margin-top: 9px;
   }
 }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes roll-in {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
}





